/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id_Animal]
      ,[Clase]
      ,[Dieta]
      ,[Nombre]
      ,[Tipo]
      ,[Edad]
      ,[Origen]
      ,[Id_Casa]
  FROM [BARRIOS].[dbo].[Animal]